# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/

# Media uploads
media/

# Virtual Env
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
