{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Portal</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2" />
  </head>
  <body style="padding-top: 60px">
    <nav
      style="
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        width: 100%;
      "
    >
      <div class="brand">Students Portal</div>
      <div></div>
    </nav>

    <main>{% block content %}{% endblock %}</main>

    <script>
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1),
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      const csrftoken = getCookie("csrftoken");

      async function logout() {
        await fetch("/api/logout/", {
          method: "POST",
          headers: { "X-CSRFToken": csrftoken },
        });
        window.location.href = "/login/";
      }
    </script>
  </body>
</html>
